fastapi>=0.111.0
uvicorn>=0.29.0
pymongo>=4.6.2
motor>=3.4.0
pydantic>=2.7.1
passlib>=1.7.4
bcrypt>=4.0.0,<5.0.0
python-jose>=3.3.0
python-multipart>=0.0.9
qrcode>=7.4.2
pandas>=2.2.2
Pillow>=10.4.0
python-dotenv>=1.0.0
pydantic[email]>=2.7.1
